/trigger_word_detection/XY_train
/trigger_word_detection/XY_dev
/trigger_word_detection/XY_dev_kotakee
/trigger_word_detection/train.wav
/trigger_word_detection/train.txt
/trigger_word_detection/__pycache__
/trigger_word_detection/model_checkpoints

/speech_server/old_code
/speech_server/quest_ai/quest_ai_dependencies/roberta-large_fine-tuned
/speech_server/chat_ai/chat_ai_dependencies/gpt_personachat_cache
/speech_server/chat_ai/__pycache__
/speech_server/home_automation/__pycache__
/speech_server/online_utilities/__pycache__
/speech_server/quest_ai/__pycache__
/speech_server/simple_utilities/__pycache__
/speech_server/__pycache__

/speech_server/emotion_detection_ai/__pycache__
/speech_server/emotion_detection_ai/datasets
/speech_server/emotion_detection_ai/models

/speech_server/emotion_representation/__pycache__

/speech_server/piano_player/__pycache__